footer.page-footer.blue-grey
    .container
        h4.header.light Developer Student Club
        p.light GHRCE, Nagpur
    .footer-copyright
        .container
            a(href="http://dscghrce.github.io") &copy DSC GHRCE 2019
