extends components/layout.pug

block styles

block content

    section
        h1.center.light.blue-text 404 - You seem to be lost!
        p.center.light.flow-text The page you're looking for does not exist.
        p.center
            a.btn.btn-flat(href="/") Home
            a.btn(href="javascript:window.history.back()") Back
    

block scripts