extends components/layout.pug

block styles

block content

    section
        h1.center.light.blue-text Our Team
        p.center.light.flow-text Our wonderful team of enthusiastic geeks
    section
        .container
            .row
                .col.s12.m6.l4
                    .card
                        .card-image
                            img(src="/images/office.jpg" alt="")
                        .card-content
                            span.card-title Roshan Paturkar
                            p.light DSC Lead
                        .card-action
                            a.btn.btn-flat.blue-text(href="#!")
                                i.material-icons home

block scripts